---
const { src } = Astro.props;
import { Image } from "astro:assets";
---

<div>
  <div
    class="relative mx-auto border-[var(--border-strong)] border-t-[18px] border-x-[8px] rounded-t-l"
  >
    <div class="circle c1"></div>
    <div class="circle c2"></div>
    <div class="circle c3"></div>
    <div class="overflow-hidden">
      <Image src={src} class="w-full aspect-[3/2] object-cover" alt="" />
    </div>
  </div>
</div>

<style>
  .circle {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--text-secondary);
    z-index: 10;
    top: -10px;
    left: 0;
  }

  .c1:hover {
    background-color: red;
  }
  .c2 {
    left: 10px;
  }
  .c2:hover {
    background-color: orange;
  }

  .c3 {
    left: 20px;
  }
  .c3:hover {
    background-color: green;
  }
</style>
