---
import HeroTitle from "../../Text/Hero-Title.astro";
import Section from "../../../layout/Section.astro";

import NewGridBackground from "../../NewGridBackground";
---

<Section sectionClass="hero" sectionId="hero">
  <div class="hero_wrapper">
    <div class="hero_row first-hero-row justify-end">
      <h4>Stop Scrolling</h4>
    </div>
    <div class="hero_row">
      <button class="text-white">TOO DARK ?</button>
    </div>
    <div class="hero_row">
      <div class="hero_row_text flex items-end">
        <h3>Hi, my name is Léo, a passionate</h3>
      </div>
    </div>
    <HeroTitle />
    <div class="hero_row">
      <div class="hero_row_text">
        <h3>Let's create YOUR web together</h3>
      </div>
    </div>
    <!-- <NewGridBackground client:only /> -->
  </div>
</Section>

<style is:global lang="scss">
  @import "../../../styles/_variables.scss";

  $title-size: 10rem;

  h3,
  h4 {
    font-size: 1.875rem;
    line-height: 1;
    padding-left: 0.2rem;
  }
  button {
    grid-row: 1/3;
    grid-column: 2/3;
    place-self: center;
  }

  // Hero Section

  .hero {
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  .hero_wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "row1 row1"
      "row2 row2"
      "row3 row3"
      "row4 row4"
      "row5 row5"
      "row6 row6";

    position: absolute;
    inset: 0;
    overflow: hidden;
  }
  .hero_media {
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
  }

  .hero_image {
    position: relative;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  .hero_image-parallax {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: none;
  }

  .hero_row {
    display: flex;
    grid-column: 1/2;
  }

  .hero_row_justify_end {
    justify-content: flex-end;
  }

  .first-hero-row {
    grid-column: 2/3;
    padding-top: $header-height;
  }

  .hero_row_text {
    display: flex;

    width: 100%;
    height: inherit;
    /*  overflow: hidden; */
  }

  .hero_row_separator {
    border: 1px solid $color-secondary;
  }
</style>

<!-- <script>
  import simpleParallax from "simple-parallax-js";
  import gsap from "../../../scripts/gsap";

  /*     const image = document.querySelector(".hero_image");
    new simpleParallax(image, {
      scale: 1.4,
      delay: 0.5,
      transition: "cubic-bezier(0,0,0,1)",
    });
    */
</script> -->
