---

---

<h1 class="cursor pl-1">_</h1>

<style>
  .cursor {
    font-family: var(--headings-font-family);
    font-size: var(--title-size);
    color: var(--color-secondary);
    text-transform: uppercase;
    line-height: 0.6;
  }
</style>

<script>
  import gsap from "../../scripts/gsap";

  const cursor = document.querySelector(".cursor");
  gsap.from(cursor, {
    delay: 2,
    opacity: 0,
    ease: "power2.inOut",
    repeat: -1,
    yoyo: true,
  });
</script>
