---

---

<h1 id="title-cursor" class="pl-1">_</h1>

<style>
  #title-cursor {
    font-family: var(--headings-font-family);
    font-size: var(--h1-font-size);
    color: var(--text-primary);
    text-transform: uppercase;
    line-height: 0.6;
  }
</style>

<script>
  import gsap from "../../scripts/gsap";

  const cursor = document.querySelector("#title-cursor");
  gsap.from(cursor, {
    delay: 6,
    opacity: 0,
    ease: "power2.inOut",
    repeat: -1,
    yoyo: true,
  });
</script>
