---
import Cursor from "./Cursor.astro";
---

<div class="flex">
  <h1>Front-End</h1>
</div>
<div class="flex">
  <h1>Developer</h1>
  <Cursor />
</div>

<style>
  --title-size: 10rem;

  h1 {
    font-size: var(--h1-font-size);
    line-height: 1;
    color: var(--sage-12);

    /*     text-shadow: 2px 2px 0px #000000; */
    font-family: var(--headings-font-family);
    font-weight: var(--headings-font-weight);
    max-width: 10ch;
    line-height: 0.95;
    text-transform: uppercase;
  }
  p {
    font-size: 1.875rem;
    line-height: 1;
    padding-left: 0.2rem;
  }
</style>
