---
import SocialLinks from "../Links/SocialLinks.astro";
import Switch from "./Switch.astro";
import ScrollArrow from "./ScrollArrow.astro";
import CTAButton from "../Buttons/CTAButton.astro";
---

<!-- <div class="loader text-8xl grid place-content-center">WELCOME</div> -->
<section id="hero" class="relative">
  <!--   <Switch /> -->
  <SocialLinks />

  <div
    class="hero_wrapper absolute inset-0 pt-[var(--header-height)] flex flex-col gap-8"
  >
    <!-- TODO : optimiser image -->

    <div class="text-center">
      <div class="clip">
        <h3 id="first-line" class="text-[1.75rem] md:text-5xl xl:text-[3.5rem]">
          Hi my name is Léo,
        </h3>
      </div>
      <div class="clip">
        <h3 class="text-[1.75rem] md:text-5xl xl:text-[3.5rem]">
          I am a dedicated, passionate
        </h3>
      </div>
      <div class="clip">
        <h1 class="test text-[6rem] md:text-[10rem] xl:text-[12rem] uppercase">
          Front-End
        </h1>
      </div>
      <div class="clip">
        <h1 class="test text-[6rem] md:text-[10rem] xl:text-[12rem] uppercase">
          Developer
        </h1>
      </div>
      <div class="clip">
        <h3 id="last-line" class="text-[1.75rem] md:text-5xl xl:text-[3.5rem]">
          Let's create <span class="accent">YOUR</span> web today.
        </h3>
      </div>
    </div>
    <CTAButton />
    <ScrollArrow />
  </div>
</section>

<style>
  .test {
    text-shadow: 1px 1px 0 black;
  }
  #hero {
    height: 100svh;
  }

  [astro-icon] {
    transform: translateY(-10%);
    animation: upAndDown 1s ease-in-out infinite alternate;
  }

  @keyframes upAndDown {
    100% {
      transform: translateY(10%);
    }
  }
</style>

<style>
  h1 {
    color: var(--text-primary);
    font-family: var(--headings-font-family);
    font-weight: var(--headings-font-weight);
    line-height: 0.95;
  }

  h3 {
    letter-spacing: -0.2rem;
    line-height: 1;
    padding-left: 0.2rem;
  }

  .hero_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .clip {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    height: fit-content;
  }

  .clip:has(#last-line) {
    height: 52%;
  }

  img {
    position: absolute;
    height: 100%;
    object-fit: cover;
  }

  .accent {
    position: relative;
    --after-width: 0%;
  }

  .accent::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: var(--after-width);
    height: 100%;
    transform: translateX(-5%);

    background-color: var(--accent-bg-solid-primary);
    transition: all 0.3s ease-in-out;
  }
</style>

<!-- Animation Script -->
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  import Lenis from "@studio-freight/lenis";

  const lenis = new Lenis();
  function raf(time: number) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }
  requestAnimationFrame(raf);
  const contactMe = document.querySelector("#contact-me") as HTMLElement;

  contactMe.addEventListener("click", () => {
    lenis.scrollTo("#contact");
  });

  let navItems = document.querySelectorAll(".nav-item");
  let header = document.querySelector("header");
  let firstLine = document.querySelector("#first-line");
  let lastLine = document.querySelector("#last-line");
  let h1Elements = document.querySelectorAll("h1");

  const accent = document.querySelector(".accent") as HTMLElement;
  const themeTrigger = document.querySelector("#theme-trigger") as HTMLElement;

  let loader = document.querySelector(".loader");

  /*  let titleAnimation = gsap.timeline({});
  h1Elements.forEach((h1Element) => {
    titleAnimation.from(h1Element, {
      yPercent: 100,
      duration: 0.5,
      ease: "power2.inOut",
    });
  });
 */
  let tl = gsap.timeline({
    delay: 1,
  });

  /* HERO ANIMATIONs */
  /*   tl.set(header, {
    overflow: "hidden",
  });
  tl.from(header, {
    scaleX: 0,
    transformOrigin: "center",
    duration: 1,
    ease: "power2.inOut",
  }).set(header, {
    overflow: "visible",
  }); */

  /*
    .fromTo(
      navItems,
      {
        y: 60,
      },
      {
        y: 0,
        stagger: 0.1,
        duration: 0.5,
      },
    )
    .from(themeTrigger, {
      xPercent: 100,
      duration: 0.5,
      ease: "power2.inOut",
    })
    .from(
      firstLine,
      {
        y: 60,
        duration: 0.5,
        ease: "power2.inOut",
      },
      "-=0.5",
    )
    .add(titleAnimation)

    .from(
      lastLine,
      {
        y: 60,
        duration: 0.5,
        ease: "power2.inOut",
      },
      "-=1",
    )
    .to(accent, {
      duration: 0.5,
      ease: "elastic",
      onUpdate: () => {
        accent.style.setProperty("--after-width", "110%");
      },
    });

  tl.eventCallback("onComplete", () => {
    tl.kill();
  }); */
</script>
