---
import Cursor from "../Text/Cursor.astro";
import ThemeSwitch from "./ThemeSwitch.astro";
---

<section id="hero" class="relative min-h-screen snap-start">
  <!-- <div class="background" data-scroll data-scroll-speed="0.8">
    <img class="thumbnail" src="src/images/Abstract Wallpaper.jpg" alt="" />
  </div> -->
  <div
    class="hero_wrapper absolute inset-0 pt-[var(--header-height)] overflow-hidden"
  >
    <div class="flex justify-end">
      <!--       <p>Stop Scrolling</p> -->
    </div>
    <ThemeSwitch />
    <div class="flex items-end">
      <h3 class="sticky top-10">
        <span class="">Hi</span>, my name is <span class="accent">Léo</span>, a
        passionate
      </h3>
    </div>
    <div class="flex">
      <h1>Front-End</h1>
    </div>
    <div class="flex">
      <h1>Developer</h1>
      <Cursor />
    </div>
    <div class="flex">
      <h3>Let's create <span class="accent">YOUR</span> web together</h3>
    </div>
  </div>
</section>

<!-- Parallax Script -->
<script>
  /* import simpleParallax from "simple-parallax-js";
  var image = document.getElementsByClassName("thumbnail");
  new simpleParallax(image); */
</script>

<style>
  section {
    background-color: var(--bg-primary);
  }
  h1 {
    font-size: var(--h1-font-size);
    line-height: 1;
    color: var(--text-primary);

    font-family: var(--headings-font-family);
    font-weight: var(--headings-font-weight);
    max-width: 10ch;
    line-height: 0.95;
    text-transform: uppercase;
  }
  h3 {
    font-size: 3rem;
    letter-spacing: -0.2rem;
    line-height: 1;
    padding-left: 0.2rem;
  }
  .hero_wrapper {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
  }

  .background {
    position: absolute;
    inset: 0;
    overflow: hidden;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* TODO : utiliser un ::before pour animation subtile */
  .accent {
    /*    background-color: var(--accent-bg-solid-primary); */
    text-decoration: underline solid var(--accent-bg-solid-primary);
  }
</style>
