---
import { Icon } from "astro-icon";
---

<button
  id="scrollToTop"
  class="border-b border-[var(--text-primary)] rounded-lg cursor-pointer absolute"
>
  <Icon
    id="icon"
    name="ph:arrow-down-thin"
    width="48px"
    height="80px"
    fill="var(--border-strong)"
    color="var(--text-primary)"
  />
</button>

<style>
  button {
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
  }
  [astro-icon] {
    transform: translateY(-10%);
    animation: bounce 2s infinite ease-in-out;
    animation-play-state: running;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    [astro-icon] {
      animation: none;
    }
  }

  @media (max-width: 764px) {
    button {
      display: none;
    }
  }

  @keyframes bounce {
    50% {
      transform: translateY(10%);
    }
  }
</style>

<!-- <script>
  import Lenis from "@studio-freight/lenis";
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const icon = document.querySelector("#icon");
  const button = document.querySelector("#scrollToTop");
  const trigger = document.querySelector("#about");

  const lenis = new Lenis();
  function raf(time: number) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }
  requestAnimationFrame(raf);

  const scrollToTop = () => {
    lenis.scrollTo(0);
  };

  let tl = gsap.timeline({
    scrollTrigger: {
      trigger: trigger,
      start: "top 50%",
      end: "top 50%",
      scrub: false,
      onUpdate: (self) => {
        if (self.direction === 1) {
          gsap.to(icon, {
            scaleY: -1,
            translateY: "0%",
            animation: "none",
          });
          button?.addEventListener("click", scrollToTop);
        } else {
          gsap.to(icon, {
            scaleY: 1,
            translateY: "-10%",
            animation: "bounce 2s infinite ease-in-out",
          });
        }
      },
    },
  });
</script> -->
