---
import { Icon } from "astro-icon";
---

<span
  id="hero_arrow"
  class="border-b border-[var(--text-primary)] rounded-lg cursor-pointer absolute"
>
  <Icon
    id="icon"
    name="ph:arrow-down-thin"
    width="48px"
    height="80px"
    fill="var(--border-strong)"
    color="var(--text-primary)"
  />
</span>

<style>
  span {
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
  }
  [astro-icon] {
    transform: translateY(-10%);
    animation: bounce 2s infinite ease-in-out;
    animation-play-state: running;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    [astro-icon] {
      animation: none;
    }
  }

  @media (max-width: 764px) {
    button {
      display: none;
    }
  }

  @keyframes bounce {
    50% {
      transform: translateY(10%);
    }
  }
</style>
