---
// Data Imports
import Icon from "astro-icon";
import socialData from "../../data/socialData";

// Component Imports
import SocialLink from "../Links/SocialLink.astro";
---

<aside
  class="social text-white absolute z-10 left-8 bottom-0 flex flex-col-reverse gap-4 items-center"
>
  <div class="line w-[2px] h-[200px] bg-[var(--text-secondary)]"></div>

  <ul class="flex flex-col gap-4">
    {
      socialData.map((item) => {
        return (
          <li>
            <SocialLink
              href={item.href}
              aria-label={item.name}
              icon={{
                name: item.name,
              }}
            />
          </li>
        );
      })
    }
  </ul>
</aside>

<style></style>
