---
// Data Imports
import socialData from "../../data/socialData";

// Component Imports
import Link from "../Links/Link.astro";
---

<aside
  class="social absolute z-10 left-8 bottom-0 flex flex-col-reverse gap-4 items-center"
>
  <div class="line w-[2px] h-[200px] bg-[var(--text-secondary)]"></div>

  <ul class="flex flex-col gap-4">
    {
      socialData.map((item) => {
        return (
          <li>
            <Link
              isSocialLink
              href={item.href}
              icon={{
                name: item.name,
                icon: item.icon,
              }}
            />
          </li>
        );
      })
    }
  </ul>
</aside>

<style></style>
