@import "./variables.scss";

// TEXT STYLING
h1,
h2 {
  color: $headings-color;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}

h3,
h4,
h5,
h6,
p {
  color: $paragraph-color;
  font-family: $paragraph-font-family;
  font-weight: $paragraph-font-weight;
}

// GLOBAL LAYOUT STYLING
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
}
body {
  position: relative;
  background-color: $color-primary;
}
main {
  overflow: hidden;
}
