---
import SectionTitle from "../SectionTitle.astro";
---

<section class="about-section" id="about">
  <!--   <img
    class="tewt-white thumbnail"
    src="images/Stunning Mountains.jpg"
    alt="test"
  /> -->
  <SectionTitle text="Let me introduce myself" />
  <p class="quote">"Embrace challenges to predict and create your future."</p>
  <p class="about-me">
    "I'm all about crafting web experiences that not only meet but exceed
    expectations. Collaboration and communication are at the heart of my work –
    it's about joining forces to bring visions to life. Beyond the screen, I'm
    an avid traveler, continuously drawn to new countries and cultures. The
    comforting aroma of coffee and the soothing sounds of music inspire my
    personal journey."
  </p>

  <div class="flex justify-between text-white">
    <div class="border-pink-300 border">INCLUDE SPOTIFY API</div>
    <div class="border-pink-300 border">INCLUDE LOCATION SPOTIFY</div>
  </div>
</section>

<style>
  section {
    position: relative;
  }
  img {
    position: absolute;
    inset: 0;
    object-fit: cover;
  }
</style>

<script>
  /*   import simpleParallax from "simple-parallax-js";
  const image = document.querySelector(".image");

  if (image !== null) {
    new simpleParallax(image, {
      orientation: "right",
    });
  } */
</script>
