---
import SectionTitle from "../SectionTitle.astro";
---

<section class="contact-section text-white" id="contact">
  <SectionTitle text="Get in touch" />
  <h3>Let's connect</h3>
  <form>FORMULAIRE DE CONTACT</form>
  <p>Available from XX</p>
</section>
