---

---

<footer class="flex justify-between p-4 relative bottom-0">
  <p>Something here</p>
  <p>Copyright 2023</p>
  <p>Something there</p>
</footer>

<style lang="scss">
  @import "../../styles/variables.scss";

  footer {
    background-color: $bg-primary;
  }
</style>
