---
import HeroTitle from "../text/Hero-Title.astro";
---

<section class="hero" id="hero">
  <button> TOO DARK ?</button>
  <span>Stop Scrolling</span>
  <p>Hi, my name is Léo, a passionate</p>

  <HeroTitle />
  <p>Let's create YOUR web.</p>
  <span>Or don't</span>
</section>

<style>
  section {
    flex-direction: column;
    display: flex;
    color: grey;
    background-image: url(/images/Stunning Mountains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: contrast(0.5);
    filter: grayscale(100%);
  }
</style>

<script>
  // Import de GSAP et de ses plugins
  import gsap from "../../scripts/gsap";

  // Animation blink du cursor
  gsap.to(".cursor", {
    opacity: 0,
    duration: 1,
    ease: "power2.inOut",
    repeat: -1,
  });
</script>
