---
import SectionTitle from "../SectionTitle.astro";
---

<section class="toolbox-section text-white">
  <SectionTitle text="Front-End Toolbox." />
  <div class="toolbox">GRID WITH (ANIMATED ? ) LOGOS OF TECH STACK</div>
  <p>
    I'm constantly refining my craft and pushing my abilities to create
    captivating web experiences. With a passion for building fast, responsive,
    and user-friendly websites, I'm excited to collaborate and bring your web
    visions to life!
  </p>
</section>
