---
import Section from "../../layout/Section.astro";
import SectionTitle from "../Text/SectionTitle/SectionTitle";
---

<Section sectionClass="works-section" sectionId="works">
  <SectionTitle client:visible title="Some of my Recent projects . " />
  <div class="works-carousel">MOVING CAROUSEL OF PREVIOUS WORKS</div>
</Section>
