---
import SectionTitle from "../SectionTitle.astro";
---

<section class="works-section text-white" id="works">
  <SectionTitle text="Recent projects" />
  <div class="works-carousel">MOVING CAROUSEL OF PREVIOUS WORKS</div>
</section>
