---
import SectionTitle from "../Text/SectionTitle/SectionTitle.tsx";
---

<section
  id="about"
  class="relative h-screen pt-[var(--header-height)] overflow-hidden flex flex-col gap-4 xl:gap-8 justify-center items-center"
>
  <!--   <div class="background absolute z-0 inset-0">
    <img
      class="thumbnail h-full object-cover"
      src="src/images/Coffee Ata Y.jpg"
      alt=""
    />
  </div> -->
  <SectionTitle client:visible title="Let me introduce myself . " />
  <div
    class="about_wrapper relative inset-0 overflow-hidden flex flex-col grow"
  >
    <q
      class="quote relative italic text-center md:text-right text-xl md:text-2xl xl:text-3xl px-4 z-[1]"
      >Embrace challenges to predict and create your future.</q
    >
    <div
      class="details_wrapper flex flex-col gap-12 md:gap-24 xl:gap-12 grow items-center justify-center text-center px-[12vw] md:px-[15vw] xl:px-[20vw]"
    >
      <p class="details_text text-xl md:text-2xl xl:text-4xl">
        I'm all about crafting web experiences that not only meet but exceed
        expectations. Collaboration and communication are at the heart of my
        work – it's about joining forces to bring visions to life.
      </p>

      <div class="separator w-[50%] h-0.5"></div>
      <p class="details_text text-xl md:text-2xl xl:text-4xl">
        Beyond the screen, I'm an avid traveler, continuously drawn to new
        countries and cultures. The comforting aroma of coffee and the soothing
        sounds of music inspire my personal journey.
      </p>
      <div class="spotify text-white relative w-full border border-red-400">
        LISTENING TO THIS OR LOCATION OR WEATHER OR SOMETHING OR CTA
      </div>
    </div>
  </div>
</section>
<style>
  .quote {
    font-family: var(--paragraph-font-family);
    font-weight: 200;
    color: var(--text-secondary);
  }

  .details_text {
    max-width: 80ch;

    line-height: 1.3;
    letter-spacing: -0.1rem;
    font-weight: 200;
  }

  .separator {
    background-color: var(--border-primary);
  }
</style>

<script>
  import "splitting/dist/splitting.css";
  import "splitting/dist/splitting-cells.css";
  import Splitting from "splitting";
  import gsap from "gsap";

  const text = document.querySelectorAll(".details_text");

  text.forEach((t, i) => {
    let tl = gsap.timeline({
      scrollTrigger: ".details_text",
      delay: 0.5 * i,
    });

    tl.fromTo(
      t,
      {
        opacity: 0,
      },
      {
        opacity: 1,
        duration: 4,
        stagger: 0.1,
        ease: "power2.out",
      },
    );
  });

  /*   const targets = document.querySelectorAll(".details_text");

  targets.forEach((target) => {
    const results = Splitting({ target: target, by: "lines" }) as any;
    const lines = results[0].lines;
    gsap.from(lines, {
      duration: 0.2,
      opacity: 0,
      stagger: 0.1,
      scrollTrigger: "#about",
      ease: "power2.out",
    });
  }); */
</script>
