---
import SectionTitle from "../Text/SectionTitle/SectionTitle.tsx";
---

<section
  id="about"
  class="relative h-screen pt-[var(--header-height)] pb-[var(--footer-height)] overflow-hidden flex flex-col gap-4 xl:gap-8 justify-center"
>
  <SectionTitle client:load title="Let me introduce myself . " />
  <div class="about_wrapper relative inset-0 overflow-hidden flex flex-col">
    <q class="quote relative italic"
      >Embrace challenges to predict and create your future.</q
    >
    <div class="details_wrapper relative">
      <p>
        I'm all about crafting web experiences that not only meet but exceed
        expectations. Through collaboration and communication, I thrive to
        witness visions come to life.
      </p>

      <p>
        Beyond the screen, I'm an avid traveler, continuously drawn to new
        countries and cultures. The comforting aroma of coffee and the soothing
        sounds of music inspire my personal journey.
      </p>
      <!--       <svg
        class="absolute w-full h-full"
        xmlns="http://www.w3.org/2000/svg"
        width="540"
        height="260"
        viewBox="0 0 540 260"
      >
        <path
          d="M0 0v130l540 0V260"
          stroke="white"
          stroke-width=".5"
          fill="none"></path>
      </svg> -->
    </div>
  </div>
</section>
<style>
  p {
    font-size: 2.5rem;
    max-width: 40ch;
    line-height: 1.3;
    letter-spacing: -0.1rem;
    font-weight: 200;
  }
  .quote {
    font-size: 2rem;
    text-align: right;
    font-family: var(--paragraph-font-family);
    font-weight: 200;
    color: var(--text-secondary);
  }

  @media screen and (max-width: 1280px) {
    p {
      font-size: 2.25rem;
      max-width: 34ch;
    }

    .quote {
      font-size: 1.5rem;
    }
  }

  @media screen and (max-width: 768px) {
    p {
      font-size: 1.5rem;
      max-width: 20ch;
    }

    .quote {
      font-size: 1.25rem;
    }
  }

  .about_wrapper {
    width: 100%;
    padding-inline: 1rem;
    flex-grow: 1;
  }

  .details_wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding-block: 2rem;
  }
  .separator {
    background-color: var(--border-primary);
  }
</style>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const text = document.querySelectorAll(".details_wrapper > p");

  let tl = gsap.timeline({
    scrollTrigger: ".details_wrapper",
    delay: 0.2,
  });

  tl.fromTo(
    text,
    {
      opacity: 0,
      yPercent: 100,
    },
    {
      opacity: 1,
      yPercent: 0,
      duration: 3,
      stagger: 0.5,
      ease: "power2.out",
    },
  );

  tl.eventCallback("onComplete", () => {
    tl.kill();
  });
</script>

<script></script>
