---
import Layout from "../layout/Layout.astro";
import Hero from "../components/Hero/Hero.astro";
import About from "../components/About/About.astro";
import Works from "../components/Works/Works.astro";
import Contact from "../components/Contact/Contact.astro";
import Toolbox from "../components/Toolbox/Toolbox.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <About />
    <Toolbox />
    <Works />
    <Contact />
  </main>
</Layout>

<style>
  main {
    position: relative;
    margin-top: calc(0px - var(--header-height));
    overflow: hidden;
  }
</style>

<script></script>
