---
import Layout from "../layout/Layout.astro";
import Hero from "../components/Sections/Hero.astro";
import About from "../components/Sections/About.astro";
import Works from "../components/Sections/Works.astro";
import Contact from "../components/Sections/Contact.astro";
import Toolbox from "../components/Sections/Toolbox.astro";
---

<Layout title="Welcome to Astro.">
  <main class="relative">
    <Hero />
    <About />
    <Toolbox />
    <Works />
    <Contact />
  </main>
</Layout>

<style lang="scss" is:global>
  @import "../styles/variables.scss";

  main {
    position: relative;
    margin-top: calc(0px - $header-height);
    background-color: $bg-primary;
  }
  section {
    position: relative;
    display: flex;
    padding-top: $header-height;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
</style>
