---
import Layout from "../layout/Layout.astro";
import Hero from "../components/Hero/Hero.astro";
import About from "../components/About/About.astro";
import Works from "../components/Works/Works.astro";
import Contact from "../components/Contact/Contact.astro";
import Toolbox from "../components/Toolbox/Toolbox.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <About />
    <Toolbox />
    <Works />
    <Contact />
  </main>
</Layout>

<style>
  main {
    position: relative;
    margin-top: calc(0px - var(--header-height));
    overflow: hidden;
  }
</style>

<script>
  /* import Lenis from "@studio-freight/lenis";
  import React from "react";
  import { useEffect } from "react";
  import gsap from "gsap";

  useEffect(() => {
    const lenis = new Lenis();

    lenis.on("scroll", (e: any) => {
      console.log(e);
    });

    function raf(time: any) {
      lenis.raf(time);
      requestAnimationFrame(raf);
    }
    lenis.on("scroll", ScrollTrigger.update);

    gsap.ticker.add((time) => {
      lenis.raf(time * 1000);
    });

    gsap.ticker.lagSmoothing(0);

    requestAnimationFrame(raf);
  }, []); */
</script>
