---
import Layout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero/Hero.astro";
import About from "../components/About/About.astro";
import Works from "../components/Works/Works.astro";
import Contact from "../components/Contact/Contact.astro";
import Skills from "../components/Skills/Skills.astro";
/* import Cursor from "../components/Cursor/Cursor.tsx"; */
---

<Layout title="Léo _ Web Developer ">
  <main class="relative">
    <!-- <Cursor client:load /> -->
    <Hero />
    <About />
    <Skills />
    <Works />
    <Contact />
  </main>
</Layout>

<!-- Lenis Base CSS -->
<style is:global>
  html.lenis {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
</style>

<script>
  import Lenis from "@studio-freight/lenis";
  const lenis = new Lenis({
    smoothTouch: true,
  });

  const linkScroll = () => {
    const links = document.querySelectorAll(".nav__item, .nav__name");
    const hamburger = document.querySelector("#check-menu") as HTMLInputElement;

    links.forEach((link) => {
      link.addEventListener("click", (e) => {
        e.preventDefault();
        const href = link.getAttribute("href");
        lenis.scrollTo(href);
        hamburger.checked && (hamburger.checked = false);
      });
    });
  };

  function raf(time: number) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }
  requestAnimationFrame(raf);
  linkScroll();
</script>
