---
import Layout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero/Hero.astro";
import About from "../components/About/About.astro";
import Works from "../components/Works/Works.astro";
import Contact from "../components/Contact/Contact.astro";
import Skills from "../components/Skills/Skills.astro";
/* import Cursor from "../components/Cursor/Cursor.tsx"; */
---

<Layout title="Welcome to Astro.">
  <main class="relative">
    <!-- <Cursor client:load /> -->
    <Hero />
    <About />
    <Skills />
    <Works />
    <Contact />
  </main>
</Layout>

<!-- Lenis Base CSS -->
<style is:global>
  html.lenis {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
</style>

<script>
  import Lenis from "@studio-freight/lenis";

  const lenis = new Lenis();
  lenis.on("scroll", (e: Lenis) => {});
  
  function raf(time: number) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  const links = document.querySelectorAll(".nav-item");

  links.forEach((link) => {
    link.addEventListener("click", (e) => {
      e.preventDefault();
      const href = link.getAttribute("href");
      lenis.scrollTo(href);
    });
  });

  requestAnimationFrame(raf);
</script>
