form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  font-family: var(--paragraph-font-family);
  font-size: 1rem;
  min-width: 30vw;
  color: var(--text-primary);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

input:not([type="submit"]),
textarea {
  background-color: transparent;
  border-bottom: 1px solid var(--border-strong);

  width: 100%;
}

textarea {
  resize: none;
}

:is(input, textarea)::placeholder {
  color: white;
}

/* input[type="submit"] {
  background-color: var(--primary-color);
  border-radius: 0.5rem;

  color: white;
  cursor: pointer;
  font-family: var(--heading-font-family);
  font-size: 1rem;
  padding: 0.5rem 1rem;
} */

.button {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;

  padding: 20px 30px;
  background-color: var(--component-bg);
  outline: 3px solid var(--accent-component-bg-hover);
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;

  color: var(--text-primary);
}

.button:hover {
  background-color: var(--accent-component-bg-hover);
}

.button:active,
.button:focus {
  background-color: var(--accent-component-bg-active);
  outline: 3px solid var(--accent-component-bg-active);
}
