form {
  font-family: var(--paragraph-font-family);
  color: var(--text-primary);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}



.button {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;

  padding: 20px 30px;
  background-color: var(--component-bg);
  outline: 3px solid var(--accent-component-bg-hover);
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;

  color: var(--text-primary);
}

.button:hover {
  background-color: var(--accent-component-bg-hover);
}

.button:active,
.button:focus {
  background-color: var(--accent-component-bg-active);
  outline: 3px solid var(--accent-component-bg-active);
}
