---
import SectionTitle from "../Text/SectionTitle/SectionTitle";
import ContactForm from "./ContactForm.tsx";
---

<section
  id="contact"
  class="relative flex flex-col min-h-screen overflow-hidden"
>
  <div
    class="contact_wrapper absolute inset-0 pt-[var(--header-height)] overflow-hidden flex flex-col"
  >
    <SectionTitle client:visible title="Want to reach me ? " />
    <ContactForm client:load />
  </div>
</section>
<style>
  .contact_wrapper {
    padding-top: calc(var(--header-height) + var(--footer-height));
  }
</style>
