---
import Section from "../Section.astro";
import SectionTitle from "../Text/SectionTitle/SectionTitle";
---

<Section sectionClass="contact-section" sectionId="contact">
  <SectionTitle client:visible title="Want to reach me ? " />
  <h3>Let's connect</h3>
  <form>FORMULAIRE DE CONTACT</form>
  <p>Available from XX</p>
</Section>
