---
import SectionTitle from "../Text/SectionTitle/SectionTitle";
import ContactForm from "./ContactForm.tsx";
---

<section
  id="contact"
  class="relative pt-[var(--header-height)] pb-8 flex flex-col items-center gap-8 overflow-hidden"
>
  <SectionTitle client:visible title="Want to reach me ? " />

  <div
    class="relative flex justify-center items-center rounded-[3rem] py-12 overflow-hidden"
    id="contact-wrapper"
  >
    <ContactForm client:load />
  </div>

  <style>
    section {
      height: calc(100vh - var(--footer-height));
    }

    #contact-wrapper {
      border: 1px solid var(--border-strong);
      width: 60vw;
      background: linear-gradient(
        to top,
        var(--bg-primary) 0%,
        var(--bg-primary) 100% opacity: 0.5;
      );
    }
  </style>

  <script>
    import gsap from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

    const wrapper = document.querySelector("#contact-wrapper");
    const contactForm = document.querySelector("#contact-form") as HTMLElement;

    let tl = gsap.timeline({
      scrollTrigger: {
        trigger: "#contact",
        start: "top center",
        end: "bottom bottom",
        once: true,
        scrub: true,
        markers: true,
      },
    });

    tl.fromTo(
      wrapper,
      { scale: 3, opacity: 0 },
      {
        scale: 1,
        opacity: 1,

        onComplete: () => {
          contactForm.style.opacity = "1";
          tl.kill();
        },
      },
    );
  </script>
</section>
