---
//Import Components
import Navbar from "../Navbar/Navbar.astro";
---

<header
  class="fixed w-full z-10 top-0 overflow-hidden active"
  transition:persist
>
  <div class="blur absolute inset-0"></div>
  <Navbar />
  <div class="separator relative w-full h-[2px]"></div>
</header>

<style>
  .blur {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    opacity: 0;
    z-index: -1;
  }

  .separator {
    background-color: var(--border-strong);
  }
</style>
