---

---

<div class="wrapper-navbar h-full">
  <nav class="relative flex justify-between items-center">
    <a
      class="nav-item full-name text-2xl md:text-4xl xl:text-6xl"
      href="#hero"
      id="nametag">LEO LECEE</a
    >
    <!--  <a
      class="nav-item abbreviated-name block md:hidden text-2xl md:text-4xl xl:text-6xl"
      href="#hero"
      id="nametag">L.L.</a
    > -->
    <div class="flex">
      <a class="nav-item text-2xl md:text-4xl xl:text-6xl" href="#about"
        >ABOUT.</a
      >
      <a class="nav-item text-2xl md:text-4xl xl:text-6xl" href="#skills"
        >SKILLS.</a
      >
      <a class="nav-item text-2xl md:text-4xl xl:text-6xl" href="#works"
        >WORKS.</a
      >
      <a class="nav-item text-2xl md:text-4xl xl:text-6xl" href="#contact"
        >CONTACT.</a
      >
    </div>
  </nav>
</div>

<style>
  nav {
    font-family: var(--headings-font-family);
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  a {
    line-height: 1;
  }

  a:hover {
    letter-spacing: 1px;
  }
</style>

<!-- Blurry Navbar on Scroll -->
<script>
  import gsap from "../../scripts/gsap";

  let tl = gsap.timeline({
    scrollTrigger: {
      trigger: "#hero",
      start: "center center",
      end: "bottom center",
      scrub: true,
      markers: false,
    },
  });

  tl.to(".blur", {
    opacity: 1,
  });
</script>

<!-- Lenis scrollTo -->
<script>
  import Lenis from "@studio-freight/lenis";
  const lenis = new Lenis();

  function raf(time: number) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);

  const links = document.querySelectorAll(".nav-item");

  links.forEach((link) => {
    link.addEventListener("click", (e) => {
      e.preventDefault();
      const href = link.getAttribute("href");
      lenis.scrollTo(href);
    });
  });
</script>
