---
import NavLinks from "../Links/NavLinks.astro";
import { Icon } from "astro-icon";
import "./navbar.css";
---

<nav class="nav relative flex justify-between">
  <a class="nav__name full-name" href="#hero" id="nametag">LEO LECEE</a>
  <input type="checkbox" id="check-menu" class="hidden" />
  <label class="cursor-pointer hamburger hidden" for="check-menu">
    <Icon
      name="ic:round-menu"
      width="36px"
      id="menu-open"
      color="var(--text-primary)"
    />
    <Icon
      name="ic:round-close"
      width="36px"
      id="menu-close"
      color="var(--text-primary)"
    />
  </label>

  <div class="flex flex-wrap nav__menu">
    <NavLinks />
  </div>
</nav>

<style>
  nav {
    font-family: var(--headings-font-family);
    height: 100%;
  }
</style>
