---

---

<div class="wrapper-navbar h-full">
  <nav class="text-gray-400 flex justify-between">
    <div><a href="#hero" id="nametag">LEO LECEE</a></div>
    <div class="flex">
      <a class="nav-item" href="#about">ABOUT.</a>
      <a class="nav-item" href="#toolbox">SKILLS.</a>
      <a class="nav-item" href="#works">WORKS.</a>
      <a class="nav-item" href="#contact">CONTACT.</a>
    </div>
  </nav>
</div>

<style>
  nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--headings-font-family);
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  a {
    transition: var(--link-transition);
    font-size: 4rem;
    line-height: 1;
  }
</style>

<!-- Blurry Navbar on Scroll -->
<script>
  import gsap from "../../scripts/gsap";

  let tl = gsap.timeline({
    scrollTrigger: {
      trigger: "#hero",
      start: "center center",
      end: "bottom center",
      scrub: true,
      markers: false,
    },
  });

  tl.to(".blur", {
    opacity: 1,
  });
  /* 
  let navItems = document.querySelectorAll(".nav-item");

  gsap.fromTo(
    navItems,
    {
      y: 60,
    },
    {
      y: 0,
      stagger: 0.1,
      delay: 1,
      duration: 0.5,
    },
  ); */
</script>

<!-- Lenis scrollTo -->
<script>
  import Lenis from "@studio-freight/lenis";
  const lenis = new Lenis();

  function raf(time: number) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);

  const links = document.querySelectorAll("a");

  links.forEach((link) => {
    link.addEventListener("click", (e) => {
      e.preventDefault();
      const href = link.getAttribute("href");
      lenis.scrollTo(href);
    });
  });
</script>
