---

---

<div class="wrapper-navbar h-full border-b-2 border-b-white">
  <nav class="text-gray-400 flex justify-between">
    <div><a href="#hero" id="nametag">LEO LECEE</a></div>
    <div class="flex">
      <a class="nav-item" href="#about">ABOUT.</a>
      <a class="nav-item" href="#works">WORKS.</a>
      <a class="nav-item" href="#contact">CONTACT.</a>
    </div>
  </nav>
  <div class="blur"></div>
</div>

<style>
  nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--headings-font-family);
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  a {
    color: var(--link-color);
    text-decoration: var(--link-decoration);
    transition: var(--link-transition);
    font-size: 4rem;
    line-height: 1;
    /*     transform: translateY(60px); */
    transition: transform 0.5s ease-in-out;
  }

  a:hover {
    color: var(--link-color-hover);
  }
  a:active {
    color: var(--link-color-active);
  }
  /*  #nametag {
    font-size: 2rem;
  } */

  .blur {
    position: absolute;
    inset: 0;
    background-color: var(--color-primary-faded);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    opacity: 0;
    z-index: -1;
  }
</style>
<script>
  /*  import gsap from "../../scripts/gsap";

  let tl = gsap.timeline({
    scrollTrigger: {
      trigger: ".hero",
      start: "center center",
      end: "bottom center",
      scrub: true,
      markers: false,
    },
  });

  tl.to(".blur", {
    opacity: 1,
  });

  let navItems = document.querySelectorAll(".nav-item");

  gsap.fromTo(
    navItems,
    {
      y: 60,
    },
    {
      y: 0,
      stagger: 0.1,
      delay: 1,
      duration: 0.5,
    },
  ); */
</script>
