---
const numberOfRows = 8;
const numberOfColumns = 10;
---

<div
  class="grid"
  style=`--rows: ${numberOfRows}; --columns: ${numberOfColumns};`
>
  <div class="cell"></div>
</div>

<style>
  .grid {
    z-index: -1;
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    gap: 0.5rem;
  }

  .cell {
    background-color: lightcoral;
  }

  /*   .grid::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background-color: blue;
  } */
</style>

<script>
  const grid = document.querySelector(".grid");
  console.log(grid?.style.getPropertyValue("--rows"));
</script>
