---
const { sectionClass, sectionId } = Astro.props;
---

<section class={sectionClass} id={sectionId}>
  <slot />
</section>

<style>
  section {
    position: relative;
    padding-top: var(--header-height);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
</style>
