---
const { text } = Astro.props;
---

<h2 class="test">{text}</h2>

<style>
  h2 {
    font-size: 6rem;
    text-transform: uppercase;
  }
  .test {
    transform: translateX(-1000px);
  }
</style>

<script>
  import gsap from "../scripts/gsap";

  const titles = document.querySelectorAll(".test");

  // Trigger pour chaque title indémendament.
  titles.forEach((title) => {
    let tl = gsap.timeline({
      scrollTrigger: {
        trigger: title,
        start: "top center",
        end: "bottom center",
        scrub: true,
      },
    });
    tl.to(title, {
      x: 0,
    });
  });
</script>
