---
import ProjectCard from "./ProjectCard.astro";
import projectsData from "../../data/projectsData";
import "./projects.css";
---

<div class="wrapper">
  {
    projectsData.map((project, index) => (
      <ProjectCard
        index={`#0${index + 1}`}
        title={project.title.toUpperCase()}
        technologies={project.technologies.toLocaleString().toUpperCase()}
        github={project.github}
      />
    ))
  }
</div>

<style>
  .wrapper {
    color: white;
    max-height: 100%;
    display: grid;
    margin-block: auto;
    z-index: 1;
    border-top: 1px solid white;
    overflow: hidden;
  }
</style>
