---
import ProjectCard from "./ProjectCard.astro";
import projectsData from "../../data/projectsData";
import "./projects.css";
---

<div class="wrapper">
  {
    projectsData.map((project, index) => (
      <ProjectCard
        index={`#0${index + 1}`}
        title={project.title.toUpperCase()}
        tags={project.tags}
        github={project.github}
    /*     src={project.source} */
      />
    ))
  }
</div>

<style>
  .wrapper {
    color: white;
    padding-block: 2rem;
    display: grid;
    margin-block: auto;
    z-index: 1;
    overflow: hidden;
  }
</style>
