---
import SectionTitle from "../Text/SectionTitle/SectionTitle";
import WorksCarousel from "./WorksCarousel.astro";
/* import "@splidejs/splide/css"; */
---

<section id="works" class="relative pt-[var(--header-height)] flex flex-col">
  <SectionTitle client:visible title="Some of my Recent projects . " />

  <!-- TODO : simplifier d'une section le wrapper / scroller -->
  <WorksCarousel />
</section>

<style>
  section {
    background-color: var(--bg-secondary);
    border: 3px solid pink;
    min-height: 100vh;
    height: auto;
  }
</style>
<script></script>
<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
</script>
