---
import SectionTitle from "../Text/SectionTitle/SectionTitle";
import ProjectsCarousel from "./ProjectsCarousel.astro";
---

<section
  id="works"
  class="relative pt-[var(--header-height)] pb-[var(--footer-height)] flex flex-col min-h-screen overflow-hidden"
>
  <SectionTitle client:visible title="Some of my Recent projects . " />

  <ProjectsCarousel />
</section>

<style>
  section {
    height: 100svh;
  }
</style>
