---
interface Props {
  name: string;
  date: string;
  src: string;
  last?: string;
}
const { name, date, src, last = "false" } = Astro.props;
---

<!-- TODO : gérer opacity avec css pas js (hover parent / hover child) -->
<div
  class="card flex flex-col justify-center gap-2"
  data-active="true"
  data-last={last}
>
  <div class="image-wrapper relative z-[1] rounded-2xl overflow-hidden">
    <img class="object-cover" src={src} alt="" />
  </div>
  <div class="text flex justify-between">
    <div class="text_name">
      <p>{name}</p>
    </div>
    <div class="text_date">
      <p>{date}</p>
    </div>
  </div>
</div>

<style>
  /*   @media screen and (min-width: 768px) and (max-width: 1200px) {
    .card[data-last="true"] {
      grid-column: 1/-1;
    }

    .card[data-last="false"] .image-wrapper {
      aspect-ratio: 6/4;
    }
    .card[data-last="true"] .image-wrapper {
      aspect-ratio: 16/9;
    }
  } */

  .text {
    color: var(--text-primary);
    padding-inline: 0.5rem;
  }

  .card {
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }

  .image-wrapper {
    aspect-ratio: 4/5;
  }
  .card[data-active="true"] {
    opacity: 1;
  }

  .card[data-active="false"] {
    opacity: 0.1;
  }
</style>
