---

---

<footer class="flex justify-between p-4 relative bottom-0">
  <div class="border-pink-300 border">INCLUDE SPOTIFY API</div>

  <p>Copyright 2023</p>
  <div class="border-pink-300 border">INCLUDE LOCATION SPOTIFY</div>
</footer>

<style>
  footer {
    height: var(--footer-height);
    position: relative;
    bottom: 0;
    background-color: var(--bg-primary);
    border-top: 1px solid white;
  }
</style>
