---
import DateAPI from "../API/DateAPI/DateAPI";
import WeatherAPI from "../API/WeatherAPI/WeatherAPI";
---

<footer class="flex justify-between p-4 relative bottom-0">
  <WeatherAPI client:load />
  <p>Copyright 2023</p>
  <DateAPI client:load />
</footer>

<style>
  footer {
    height: var(--footer-height);
    position: relative;
    bottom: 0;
    background-color: var(--bg-primary);
    border-top: 1px solid white;
  }
</style>
