---
import { CurrentDate, CurrentYear } from "../API/DateAPI/DateAPI";
import "./footer.css";
---

<footer class="flex p-4 relative bottom-0 overflow-hidden">
  <p class="footer_text flex lg:hidden">&#169; {CurrentYear}</p>
  <p class="footer_text hidden lg:flex">
    Copyright &#169; {CurrentYear} all rights reserved
  </p>
  <CurrentDate client:load />
</footer>

<style>
  footer {
    color: var(--text-primary);
    border-top: 1px solid var(--text-primary);
  }

  p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
</style>
