---
import DateAPI from "../API/DateAPI/DateAPI";
import WeatherAPI from "../API/WeatherAPI/WeatherAPI";
/* import SpotifyAPI from "../API/SpotifyAPI/SpotifyAPI"; */

const date = new Date();
const year = date.getFullYear();
---

<footer
  class="flex text-base justify-between p-4 relative bottom-0 overflow-hidden"
>
  <WeatherAPI client:load />
  <!--   <SpotifyAPI client:load /> -->
  <p class="flex md:hidden">&#169; {year}</p>
  <p class="hidden md:flex">Copyright {year}</p>
  <DateAPI client:load />
</footer>

<style>
  footer {
    color: var(--text-primary);
    border-top: 1px solid white;
  }
</style>
