---

---

<footer class="flex justify-between p-4 relative bottom-0">
  <div class="border-pink-300 border">INCLUDE SPOTIFY API</div>

  <p>Copyright 2023</p>
  <div class="border-pink-300 border">INCLUDE LOCATION SPOTIFY</div>
</footer>

<style >;

  footer {
    background-color: var(--bg-primary);
  }
</style>
