---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/glasses.svg" />
  <meta name="generator" content={Astro.generator} />

  <!-- META TAGS -->
  <!-- Primary Meta Tags -->
  <title>Léo Lecée | Front-end web developer | Portfolio</title>
  <meta
    name="title"
    content="Léo Lecée | Front-end web developer | Portfolio"
  />
  <meta
    name="description"
    content="In need of a front-end developer ? You are at the right place ! You will learn about myself, my work, skills and aspirations. Let's talk about your next project !"
  />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://leolecee.netlify.app/" />
  <meta
    property="og:title"
    content="Léo Lecée | Front-end web developer | Portfolio"
  />
  <meta
    property="og:description"
    content="In need of a front-end developer ? You are at the right place ! You will learn about myself, my work, skills and aspirations. Let's talk about your next project !"
  />
  <meta
    property="og:image"
    content="https://i.postimg.cc/gk6T0ZZh/metapicture.png"
  />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://leolecee.netlify.app/" />
  <meta
    property="twitter:title"
    content="Léo Lecée | Front-end web developer | Portfolio"
  />
  <meta
    property="twitter:description"
    content="In need of a front-end developer ? You are at the right place ! You will learn about myself, my work, skills and aspirations. Let's talk about your next project !"
  />
  <meta
    property="twitter:image"
    content="https://i.postimg.cc/gk6T0ZZh/metapicture.png"
  />

  <!-- Meta Tags Generated with https://metatags.io -->

  <!-- SCHEMA.ORG -->
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "Front-end developer portfolio",
      "abstract": "Freelance front-end developer portfolio",
      "about": "Personal portfolio of a front-end web developer",
      "url": "https://leolecee@netflify.app",
      "sameAs": [
        "https://twitter.com/Leo_Lecee",
        "https://www.linkedin.com/in/leolecee/",
        "https://github.com/Leo-LC"
      ],

      "hasPart": {
        "@type": "WebPage",
        "@id": "https://leolecee@netflify.app"
      },
      "inLanguage": "en-US",
      "publisher": {
        "@type": "Organization",
        "name": "Your Organization",
        "url": "https://yourorganization.com",
        "logo": "URL to your organization's logo"
      },
      "isAccessibleForFree": "True",
      "keywords": "portfolio, web development, design, projects, front-end",
      "author": {
        "@type": "Person",
        "name": "Leo Lecee",
        "birthDate": "1992-09-21",
        "gender": "male",
        "url": "https://leolecee.netlify.app",
        "sameAs": [
          "https://twitter.com/Leo_Lecee",
          "https://www.linkedin.com/in/leolecee/"
        ],
        "jobTitle": "Front-end web developer",
        "knowsLanguage": ["English", "French"],
        "nationality": "French"
      },
      "copyrightHolder": {
        "@type": "Person",
        "name": "Leo Lecee",
        "url": "https://leolecee.netlify.app",
        "sameAs": [
          "https://twitter.com/Leo_Lecee",
          "https://www.linkedin.com/in/leolecee/"
        ]
      },
      "dateCreated": "2023",
      "genre": "Personal Portfolio"
    }
  </script>

  <title>{title}</title>
</head>
