---
import Head from "./Head.astro";

// import styling files
import "@radix-ui/themes/styles.css";
import "../styles/global.css";

import { Image } from "astro:assets";
import background from "../images/sculpt-1.jpg";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} />
  <body class="dark">
    <div class="background">
      <Image
        src={background}
        alt="background"
        class="background__image thumbnail"
      />
    </div>

    <slot />
    <style>
      .background {
        background-color: var(--bg-primary);
        position: fixed;
        z-index: -10;
        inset: 0;
        height: 100vh;
        width: 100vw;
      }
      .background__image {
        height: 100%;
        object-fit: cover;
      }

      @media screen and (max-width: 1280px) {
        .background__image {
          height: 100vh;
        }
      }
    </style>

    <script>
      /* Parallax  */
      import simpleParallax from "simple-parallax-js";
      const image = document.getElementsByClassName("thumbnail");

      new simpleParallax(image, {});

      /* GSAP  */
      import gsap from "gsap";
      import { ScrollTrigger } from "gsap/ScrollTrigger";
      gsap.registerPlugin(ScrollTrigger);

      const background = document.querySelector(
        ".background__image",
      ) as HTMLElement;
      const hero = document.querySelector("#hero") as HTMLElement;

      const tl1 = gsap.timeline({
        scrollTrigger: {
          trigger: hero,
          start: "top top",
          end: "bottom top",
          scrub: true,
        },
      });

      tl1.to(background, {
        opacity: 0.1,
      });

      const header = document.querySelector("header") as HTMLElement;
      const footer = document.querySelector("footer") as HTMLElement;
      const headerHeight = header.offsetHeight;
      const footerHeight = footer.offsetHeight;

      window.addEventListener("DOMContentLoaded", () => {
        document.documentElement.style.setProperty(
          "--header-height",
          `${headerHeight}px`,
        );
        document.documentElement.style.setProperty(
          "--footer-height",
          `${footerHeight}px`,
        );
      });
    </script>
  </body>
</html>
